[Desktop Entry]
Name=PDF Studio Viewer
Comment=Create, Review and Edit PDF Documents
Type=Application
Categories=Viewer;Publishing;Office;
Exec=AppRun %U
Icon=icon
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;
